.admin-content
  color: #4d4a4a
  margin-top: 160px

.admin-button
  background-color: #fff
  color: #3d3d3d

.admin-block
  display: flex
  gap: 10px

.admin-text
  display: flex
  flex-direction: column
  gap: 10px