.welcomePage-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-image: url(../images/fire.jpg);
  background-size: cover;
  background-position: 50%;
  min-height: 100vh;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.homePage-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  color: bisque;
  background-color: #3c230030;
  width: 100%;
  align-items: center;
}

.homePage-text-button {
  font-size: 12px;
}
